@import '../../common/color.scss';


.resetPassword{
    display: flex;
    justify-content: center;

    .reset-wrapper{
         margin: 100px 0px 400px 0px;
        .reset-container{
        width: 300px;
        display:flex;
        flex-direction: column;
        align-items: center;


        input,button{
                width: 100%;
                margin-top: 24px;
                padding: 4px;
                border: none;
                background-color: $secondary-color;
                color: $font-secondary;
        }
    }


    }


}