@import '../../common/color.scss';

.register{
    display: flex;
    justify-content: center;

    .form-wrapper{
         margin: 100px 0px;
        .regi-container{
        width: 300px;
        display:flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: $font-secondary
        }


        input,button{
                width: 100%;
                margin-top: 24px;
                padding: 4px;
                border: none;
                background-color: $secondary-color;
                color: $font-secondary;
                border-radius: 5px;
        }
        button{
            cursor: pointer;
        }
    }


    }


}